div {
    color: #black;
    font-family: Poppins, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    display:flex;
    align-items: center;
    padding-left:  75px;
}
.fixed {
    width: 200px;
    padding-right:  100px;
}
.flex-item {
    margin-left:  auto;
    padding-right:  75px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
}


.container-1 {
	background-color: white;
	display: flex;
	padding-left: 75px;
	padding-right: 75px;
}

.food {
	height: 100%;
	width: 100%;
	padding-top: 105px;
}

.img {
	height: 100%;
	width: 100%;
	padding-top: 95px;
}

.home-text {
	flex-grow: 1;
	font-size:  18px;
	padding-left:  50px;
	padding-right:  50px;
}

.about-text {
	flex-grow: 1;
	font-size:  18px;
	padding-left:  50px;
	padding-right:  50px;
	padding-top: 85px;
}

.more-text {
	flex-grow: 1;
	font-size:  18px;
	padding-left:  50px;
	padding-right:  50px;
	padding-top: 85px;
}

.img-style {
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	border-radius: 25px;
}

.img-style-1 {
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	border-radius: 15px;
}

h4 {
	color:  maroon;
}


